body {
  background-color: #fafafa;
  padding: 20px;
}

hr {
  margin: 16px 0;
}

#lgtm-reload {
  width: 400px;
}

.lgtm-url {
  margin-bottom: 4px;
  width: 400px;
}

.lgtm-img {
  max-height: 300px;
  max-width:  400px;
}

#lgtm-reload-print {
  margin: 0 8px;
}

.glyphicon-refresh-animate {
  -webkit-animation: spinw .7s infinite linear;
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg); }
  to   { -webkit-transform: rotate(360deg); }
}
